/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600;800&display=swap");

:root {
  --header-height: 5rem;

  --main-color: #eadbd7;
  --first-color: #512284;
  --second-color: #dfd6a7;
  --white-color: #fff;
  --black-color: #151515;

  --font-cursive: "Great Vibes", cursive;
  --font-body: "Montserrat", sans-serif;

  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white-color);
  font-size: var(--normal-font-size);
  font-family: var(--font-body);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.MuiOutlinedInput-adornedEnd {
  height: 44px;
  /* border: 1px solid #f971ae; */
}
.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: #f971ae !important;
}
.MuiInputBase-root {
  color: #552887 !important;
  font-weight: 600 !important;
}
.modal-backdrop.show {
  opacity: 0.2;
}
.modal-header {
  background-color: #f971ae;
}
.dateK {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.timeK {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timeK input {
  margin-top: 10px;
  margin-bottom: 10px !important;
}
.timeApp {
  background-color: transparent !important;
}
.modal-title {
  font-family: var(--font-cursive);
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: 3rem;
  color: white;
}
/* Buttons */
.btn {
  width: 250px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--first-color);
  color: var(--white-color);
  border: 1px solid var(--first-color);
  border-radius: 50px;
  font-size: var(--normal-font-size);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}
.btn-outline {
  width: 280px;
  background-color: transparent;
  color: var(--first-color);
  padding: 5px 10px 5px 0;
  transition: all 0.4s ease;
  position: relative;
}
.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21%;
  height: 100%;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}
.btn-outline i {
  margin-right: 1.5rem;
  font-size: var(--h3-font-size);
  color: var(--white-color);
  z-index: 10;
}
.btn-outline:hover::before {
  width: 100%;
  z-index: -1;
}
.btn-outline:hover {
  color: var(--white-color);
  z-index: 10;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.3); */
  z-index: 99;
  transition: all 0.4s ease;
}
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--main-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 76px;
}
.logo {
  max-width: 200px;
  z-index: 10;
}
.logo img {
  width: 140px;
}
.nav-menu .nav-list {
  display: flex;
}
.nav-menu li {
  margin-right: 2rem;
}
.nav-link {
  font-size: var(--normal-font-size);
  color: var(--black-color);
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  transition: all 0.4s ease;
  margin-top: 20px !important;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: all 0.4s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link:hover,
.nav-link.active {
  color: var(--first-color);
}
.nav-toggle {
  font-size: var(--h1-font-size);
  padding: 5px 5px 0;
  border: 2px solid transparent;
  cursor: pointer;
  z-index: 100;
  display: none;
}
.nav-toggle:hover {
  color: var(--first-color);
  border: 2px solid var(--first-color);
}
/* Start Home Section */
.home {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  border-radius: 0 0 300px 0;
  margin-top: 75px;
}
.home .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.home .home-img img {
  max-width: 100%;
  height: 100%;
}
.home .home-content {
  /* margin-top: 25px; */
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home-content h1 {
  font-family: var(--font-cursive);
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: 4px;
  color: var(--first-color);
  margin-bottom: 1.5rem;
  text-align: center;
}
.home-content p {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--black-color);
  margin-bottom: 1.5rem;
}

/* End Home Section */

/* Start About Section */
.about {
  width: 100%;
  padding: 7rem 0;
  /* background-image: url(img/arabesque-left-bottom.svg); */
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
}
.about .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  margin: 0 auto;
  text-align: center;
}
.section-title h1 {
  font-family: var(--font-cursive);
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: 3rem;
  color: var(--first-color);
}
.section-title span {
  font-weight: 300;
  font-size: var(--h2-font-size);
  line-height: 1.5rem;
  color: var(--black-color);
}
.about-detail {
  width: 100%;
  padding: 2rem;
}
.about-detail-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--first-color);
  border-radius: 32px;
  padding: 1rem;
}
.about-img img {
  width: 100%;
  border-radius: 30px;
  /* filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.25)); */
}
.about-description {
  position: relative;
  padding: 2rem;
}
.about-description::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  border-radius: 30px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.about-description p {
  font-weight: 400;
  line-height: 1.5rem;
  padding: 10px;
  color: var(--black-color);
}

/* End About Section */
/* Start Services Section */
.services {
  width: 100%;
  padding: 7rem 0;
  /* background-image: url(img/arabesque-left-top.svg); */
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
}
.services-content {
  display: flex;
  flex-wrap: wrap;
}
.services-content-description {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.services-content-description .box {
  padding: 20px;
}
.services-content-description .box .inner img {
  width: 90px;
  margin-bottom: 1rem;
}
.services-content-description .box .inner {
  font-size: var(--h3-font-size);
  font-weight: 800;
  text-transform: capitalize;
  color: #512284;
  padding: 10px;
  position: relative;
}
.services-content-description .box .inner::before,
.services-content-description .box .inner::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  transition: all 0.8s ease;
}
.services-content-description .box .inner::before {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.services-content-description .box .inner::after {
  top: 0;
  right: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}
.services-content-description .box:hover .inner::before,
.services-content-description .box:hover .inner::after {
  width: 100%;
  height: 100%;
  border-color: var(--first-color);
}
/* End Services Section */
/* Start Package Section */
.package {
  width: 100%;
  padding: 7rem 70px;
  background-color: var(--main-color);
  border-radius: 0 300px;
}
.package-cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.card {
  background-color: var(--white-color);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 1.1rem;
  margin: 10px auto;
  transition: all 0.4s ease-in-out;
  max-width: 312px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.card-items,
.card-title {
  z-index: 3;
}
.card::before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 74%;
  left: 0;
  border-radius: 30px;
  transform: rotate(23deg);
}
.card-items .item p span + strong.crwa {
  position: relative;
}
.card-items .item p span + strong.crwa::after {
  position: absolute;
  content: "";
  height: 2px;
  top: 50%;
  width: 100%;
  left: 0;
  background-color: #151515;
  transform: rotate(-8deg);
}
.card:hover {
  transform: scale(1.1);
}
.card-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.card-title h1 {
  font-weight: bold;
  font-size: var(--h3-font-size);
  line-height: 2rem;
  color: var(--black-color);
}
.card-items {
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.item {
  display: flex;
  align-items: center;
}
.item p {
  font-weight: bold;
  line-height: 30px;
  color: var(--first-color);
  margin-left: 0.5rem;
  margin-bottom: 0px;
}
.card-items .item p span {
  font-size: var(--small-font-size);
  font-weight: 300;
}
.item .check-icon,
.item .x-icon {
  font-size: var(--h3-font-size);
}
.item .x-icon,
.item .not {
  color: var(--second-color);
}
.item .check-icon {
  color: var(--first-color);
}
.card-items button {
  margin: 1rem auto 0;
}
/* End Package Section */

/* Start Gallery Section */
.gallery {
  width: 100%;
  padding: 1rem 0;
  position: relative;
}
.gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  border-radius: 0 300px;
  background-color: var(--main-color);
  z-index: -1;
}
.gallery-list-img {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.5rem auto;
  position: relative;
}
.gallery-img img {
  margin: 0.5rem;
  filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.2));
  max-height: 250px !important;
  width: 250px !important;
  height: 100%;
  border-radius: 50%;
}
.gallery-img:hover img {
  transform: scale(1.1);
}
.gallery-content button {
  margin: 0 auto;
}
/* End Gallery Section */
/* Start Testimonials Section */

.testimonials {
  padding: 7rem 0;
  background-color: var(--main-color);
  border-radius: 300px 0;
}
.testimonials-content {
  padding: 2rem;
}
.testimonials-card {
  width: 1100px;
  margin: 3rem auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.testimonials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.testimonials-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: var(--second-color);
}
.testimonials-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.8s ease;
  z-index: 100;
}
.testimonials-item:hover .testimonials-img img {
  transform: translateX(180px) rotate(360deg);
}
.testimonials-box {
  position: relative;
  padding: 30px;
  z-index: 10;
}
.testimonials-name {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  text-align: center;
}
.testimonials-name h1 {
  font-weight: 400;
  font-size: var(--h2-font-size);
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.testimonials-name i {
  color: var(--first-color);
  font-size: var(--h3-font-size);
}
.testimonials-description p {
  line-height: 1.5rem;
  margin-top: 2rem;
}
/* End Testimonials Section */

/* Start Footer Section */

.footer-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  padding: 7rem 0;
  border-bottom: 1px solid var(--first-color);
}
.footer-data {
  text-align: center;
  margin-bottom: 1rem;
}
.footer-data-social {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footer-data-social i {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}
.footer-data h2 {
  font-weight: bold;
  font-size: var(--h2-font-size);
  line-height: 1.5rem;
  color: var(--first-color);
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.footer-data p {
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
}
.footer .copy {
  text-align: center;
  padding: 1rem 0;
}
.footer .copy p {
  font-weight: bold;
  line-height: 1.5rem;
}
.footer .copy span {
  font-size: var(--small-font-size);
  line-height: 1rem;
}
/* End Footer Section */
@media (max-width: 1300px) {
  .borderContact {
    grid-template-columns: repeat(1, 1fr) !important;
    padding: 0.5em !important;
  }
  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    /* width: 0; */
    overflow-y: scroll;
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    font-size: var(--h2-font-size);
    text-align: center;
    text-transform: capitalize;
    padding-top: var(--header-height);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }
  .show-nav {
    width: 60%;
  }
  .nav-menu .nav-list {
    display: block;
  }
  .nav-menu li {
    padding: 15px 0;
  }
  .nav-link {
    font-size: var(--h3-font-size);
  }
  .nav-toggle {
    display: block;
  }
  .home .home-img img {
    display: none;
  }
  .home .home-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-content h1 {
    font-size: var(--big-font-size);
  }
  .home-content p {
    padding: 0 2rem;
  }
  .about-detail-content {
    grid-template-columns: unset;
    padding: 0px;
  }
  .services-content-description {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials-card {
    width: 820px;
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials-item:hover .testimonials-img img {
    transform: translateX(300px) rotate(360deg);
  }
  .footer-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .services-content-description {
    grid-template-columns: unset;
  }
  .testimonials-card {
    width: 300px;
    margin-top: 3rem;
    grid-template-columns: unset;
  }
  .about-description {
    padding: 0px;
    margin-top: 25px;
  }
  .testimonials-item:hover .testimonials-img img {
    transform: translateX(220px) rotate(360deg);
  }
  .footer-list {
    grid-template-columns: unset;
  }
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .nav-menu .nav-list {
    display: none;
  }
  .nav-Links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #005469;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .nav-link {
    color: black;
    text-align: center;
    padding: 15px 10px;
    margin-top: 0px !important;
    width: 100%;
    transition: all 0.5s ease;
    /* line-height: 5px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    background: none;
  }
}
/* @media screen and (max-width : 480px){
    .home-content h1{
        font-family: var(--font-cursive);
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 3px;
        color: var(--first-color);
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .home-content p{
        font-weight: 300;
        line-height: 1rem;
        letter-spacing: 2px;
        color: var(--black-color);
        margin-bottom: 1.5rem;
    }
} */

.borderContact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--first-color);
  border-radius: 30px;
  padding: 1rem;
}
.about .react-email-form {
  /* box-shadow: 0 0 30px rgba(214, 215, 216, 0.6); */
  /* padding: 30px; */
  background: transparent;
}
.about .react-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.about .react-email-form .error-message br + br {
  margin-top: 25px;
}
.about .react-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.about .react-email-form .loading {
  display: none;
  /* background: #fff; */
  text-align: center;
  padding: 15px;
}
.about .react-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.about .react-email-form input,
.about .react-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.about .react-email-form input:focus,
.about .react-email-form textarea:focus,
.about .react-email-form select:focus {
  border-color: #b03561;
}
.form-select:focus {
  box-shadow: none;
}
.about .react-email-form input {
  padding: 10px 15px;
  /* max-width: 250px; */
  margin: 0px auto;
  border-radius: 10px;
  border: 2px solid #f971ae;
  color: #552887;
  font-size: 14px !important;
  font-weight: 700;
}
.about .react-email-form textarea {
  padding: 12px 15px;
}
.about .react-email-form button[type="submit"] {
  background: #f0047f;
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  transition: 0.4s;
}
.about .react-email-form button[type="submit"]:hover {
  background: #da4378;
}
.select.form-select {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.form-select {
  padding: 10px 15px !important;
  max-width: 250px !important;
  margin: 0px auto !important;
  border-radius: 10px !important;
  border: 2px solid #f971ae !important;
  color: #552887 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.nav-tabs .nav-link {
  font-family: var(--font-cursive);
  font-size: 30px;
  font-weight: 400;
  color: #f0047f;
}
.parentmenu .menu .section-title h2 {
  font-family: var(--font-cursive);
  font-size: 60px;
  color: var(--first-color);
}
.menu {
  margin-top: 50px;
}
.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border: 2px solid var(--first-color);
  border-radius: 50px;
}
.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
  color: #fff;
  background: var(--first-color);
}
.menu #menu-flters li:last-child {
  margin-right: 0;
}
.menu .menu-content {
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu .menu-content::after {
  content: "......................................................................"
    "...................................................................."
    "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  text-decoration: none;
  color: var(--first-color);
}
.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}
.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}

/*--------------------------------------------------------------
  # Features Section
  --------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
  background: #f6f9fd;
}
.features .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}
.features .nav-link .iconfeatures {
  line-height: 1;
  font-size: 50px;
  color: #b03561;
}
.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}
.features .nav-link:hover {
  color: var(--color-primary);
}
.features .nav-link.active {
  transition: 0.3s;
  background: var(--color-secondary)
    linear-gradient(
      rgba(var(--color-primary-rgb), 0.95),
      rgba(var(--color-primary-rgb), 0.6)
    );
  border-color: var(--color-primary);
}
.features .nav-link.active h4 {
  color: var(--color-white);
}
.features .nav-link.active i {
  color: var(--color-white) !important;
}
.features .tab-content {
  margin-top: 30px;
}
.features .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.features .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}
.features .tab-pane p {
  font-size: 19px;
}
.features .tab-pane ul {
  list-style: none;
  padding: 0;
}
.features .tab-pane ul li {
  padding-bottom: 10px;
  font-size: 24px;
  color: #da4378;
}
.features .tab-pane ul .online {
  font-size: 24px;
  margin-right: 4px;
  color: green;
}
.features .tab-pane ul .strongonline {
  font-size: 25px;
}
.features .tab-pane .clique {
  cursor: pointer;
}
.features .tab-pane .icononline {
  font-size: 75px;
  color: #b03561;
}
.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--color-primary);
}
.features .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 560px) {
  #about > div > div.about-detail > div > div > div.about-img > img {
    display: none;
  }
  .about .react-email-form {
    /* width: 96%; */
    /* margin-right: 28px; */
  }
  #contact > div.footer-list > div:nth-child(1) > img {
    width: 300px !important;
  }
}

.error {
  text-align: center;
  color: rgb(254, 61, 61);
}
.hours {
  width: 100px;
  border: 2px solid #da4378;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #552887;
  cursor: pointer;
  padding: 6px !important;
}

.hours:hover {
  color: white;
  background-color: #da4378;
}
.Toastify__toast {
  margin-top: 20%;
  z-index: 20000;
}
@media (max-width: 560px) {
  .modal-title {
    font-size: 30px;
  }
  .btn-send-msg{
    width: 180px ;
  }
  .card{
    min-width: 300px;
    margin-left: -39px;
  }
}
